section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 1rem;
    column-gap: .5rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem;
    background-color: aliceblue;
    box-shadow: 1px 3px 5px black;
}

input{
    border-radius: .5rem;
    font-size: 1.5rem;
    border: 1px solid gray;
    padding: .5rem;
}

button{
    font-size: 1rem;
    background-color: blue;
    color: white;
}

button:hover{
    opacity: .7;
}

.submit-field{
    background-color: lightgray;
    padding: .5rem;
    border-radius: .5rem;
}